* {
	margin: 0;
	padding: 0;
}
html {
    background: url(../../assets/images/background.jpg) no-repeat center center fixed #000000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
	font: .8em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 0;
    margin: 0;
}

h2 {
	margin-bottom: 10px;
}

abbr {
	cursor:pointer;
}

li {
	margin-left:20px;
}

#wrapper {
	width: 770px;
	margin: 40px auto;
}

#wrapper h1 {
	color: #FFF;
	text-align: center;
	margin-bottom: 20px;
}

#wrapper a {
	color: #0000FF;
	text-decoration: none;
}

#tabContainer {
	width: 720px;
	padding: 25px;
	background-color: #2e2e2e;
	-moz-border-radius: 14px;
	border-radius: 14px;
}

#tutorial {
	color:white;
}

.tabs {
	height: 30px;
}

.tabs>ul {
	font-size: 1em;
	list-style: none;
}

.tabs>ul>li {
	margin: 0 2px 0 0;
	padding: 7px 10px;
	display: block;
	float: left;
	color: #FFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	background: #C9C9C9; /* old browsers */
	background: -moz-linear-gradient(top, #0C91EC 0%, #257AB6 100%);
	/* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0C91EC),
		color-stop(100%, #257AB6)); /* webkit */
}

.tabs>ul>li:hover {
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF
		100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF),
		color-stop(10%, #F3F3F3), color-stop(50%, #F3F3F3),
		color-stop(100%, #FFFFFF)); /* webkit */
	cursor: pointer;
	color: #333;
}

.tabs>ul>li.tabActiveHeader {
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF
		100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF),
		color-stop(10%, #F3F3F3), color-stop(50%, #F3F3F3),
		color-stop(100%, #FFFFFF)); /* webkit */
	cursor: pointer;
	color: #333;
}

.tabscontent {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding: 10px 10px 25px;
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 90%, #e4e9ed 100%);
	/* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF),
		color-stop(90%, #FFFFFF), color-stop(100%, #e4e9ed)); /* webkit */
	margin: 0;
	color: #333;
}
/***FIRST STYLE THE BUTTON***/
input#updateButton, input#downloadButton {
    float: left;
	width: 380px;
    background: #C9C9C9; /* old browsers */
    background: -moz-linear-gradient(top, #0C91EC 0%, #257AB6 100%);
    /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0C91EC),
    color-stop(100%, #257AB6)); /* webkit */
	padding: 8px 14px 10px; /*apply some padding inside the button*/
	border: 1px solid #3e9cbf;
	/*required or the default border for the browser will appear*/
	cursor: pointer;
	/*style the text*/
	font-size: 1.5em;
	font-family: Oswald, sans-serif;
	/*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
	text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
	/*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
	color: #fff;
	/*use box-shadow to give the button some depth - see cssdemos.tupence.co.uk/box-shadow.htm#demo7 for more info on this technique*/
	/*give the corners a small curve*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 5px;
    margin: 10px 0;
}
input#downloadButton {
    margin-left: 10px;
}
input#updateButton:hover, input#updateButton:focus, input#downloadButton:hover, input#downloadButton:focus {
    background: #a8a8a8; /* old browsers */
    background: -moz-linear-gradient(top, #257AB6 0%, #0C91EC 100%);
    /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #257AB6),
    color-stop(100%, #0C91EC)); /* webkit */
}
.button-container {
    overflow: auto;
}

.keypad {
	margin: 10px auto;
	padding: 0;
	width: 300px; /* not actually a static size, % in real use */
}

.keypad .key-row {
	width: 100%
}

.keypad .key-row .key-cell {
	padding: 2px;
	width: 25%;
}

.keypad .key-row .key-cell textarea.key {
	font-size: small;
	height: 70px;
	width: 100%;
}

.keypad .key-row .key-cell textarea.key.tall-key {
	height: 154px;
}

.keypad .key-row .key-cell textarea.key.wide-key {
	
}

.keypad .key-row .key-cell textarea.key-alt-fn {
	font-size: small;
	font-weight: normal;
}
